<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        var v = "<%= query.v %>";
        var list;
        <% if(query.list.trim() != "") { %>
            list = "<%= query.list %>";
        <% } %>
        //var index = "<%= query.index %>";
        //var t = "<%= query.t %>";
    </script>
    <script src="/javascripts/player.js"></script>
    <title>Purei Player</title>
</head>
<body>
    <a href="/">Home</a><br>
    <div id='player'></div>
</body>
</html>
<html>