<!DOCTYPE html>
<html>
  <head>
    <title>Purei</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </head>
  <body>
    <h1>Purei</h1>
    <div id="tips">
      Tips: you can replace www.youtube.com with <%= hostUrl %> to play the video/playlist with Purei.
    </div>
    <br>
    <form action="/watch/link/" method="get">
      <label for="link">Youtube Link:</label><br>
      <input type="text" name="link" id="link">
      <input type="submit" value="Play">
    </form>
    <br><br>
    <form action="/watch/v/" method="get">
      <label for="vid">Video ID:</label><br>
      <input type="text" name="vid" id="vid"><br>
      <label for="lid">List ID:</label><br>
      <input type="text" name="lid" id="lid">
      <input type="submit" value="Play">
    </form>
  </body>
</html>
